<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Self-update: sideload-install a downloaded APK (Prohibited on Play Store, allowed on Sideload) -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <queries>
        <!-- Self-update: launch the system package installer for the downloaded APK. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="application/vnd.android.package-archive"/>
        </intent>
    </queries>
</manifest>
